**/__pycache__/
**/venv/
**/*.pyc
*.swp
*.db
*.hg
**/*.svn
**/.DS_Store/
**/uploads/
**/.vscode/
**/idea/
**/avatars/
.idea/
.vs/
.env
.pk
.pem
.pub
**/imageDumps/*
**/web_config/
**/testing/**

.DS_Store

**/profile/
**/app.migration*