{% extends "admin/layout.html" %} {% block styles %} {% endblock %} {% block
content %}

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<div class="row">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Title here</h4>
							<p class="text-muted mb-0">Name will be here</p>
						</div>
						<div class="card-body">
							<div class="form-group row mb-0" style="place-content: end">
								<input
									type="submit"
									value="Save"
									class="btn btn-outline-primary"
									style="width: 5rem; margin-right: 2rem"
								/>
							</div>
							<form method="POST" action="" class="form-horizontal well">
								<fieldset>
									<div class="repeater-custom-show-hide">
										<div class="d-flex">
											<div class="card-body" data-repeater-list="car">
												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														{% if data_type == 'categories' %}
														<div
															style="
																display: flex;
																place-items: center;
																gap: 0.5rem;
															"
														>
															<label class="form-label">category_name:</label>
															<input
																type="text"
																name="category_name"
																value="{{ data.category_name or '' }}"
																placeholder="category_name"
																class="form-control"
															/>
														</div>
														{% endif %} {% if data_type == 'pages' %}
														<div
															style="
																display: flex;
																place-items: center;
																gap: 0.5rem;
															"
														>
															<label class="form-label">page_name:</label>
															<input
																type="text"
																name="page_name"
																value="{{ data.page_name or '' }}"
																placeholder="page_name"
																class="form-control"
															/>
														</div>
														{% endif %}

														<div class="">
															<label class="form-label">Name</label>
															<input
																type="text"
																name="name_tk"
																placeholder="Name_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="name_ru"
																placeholder="Name_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="name_en"
																placeholder="Name_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div class="col-6">
															<label class="form-label">Title</label>
															<input
																type="text"
																name="title_tk"
																placeholder="Title_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="title_ru"
																placeholder="Title_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="title_en"
																placeholder="Title_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Label</label>
															<input
																type="text"
																name="label_tk"
																placeholder="Label_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="label_ru"
																placeholder="Label_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="label_en"
																placeholder="Label_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Note</label>
															<input
																type="text"
																name="note_tk"
																placeholder="Note_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="note_ru"
																placeholder="Note_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="note_en"
																placeholder="Note_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">link</label>
															<input
																type="text"
																name="link"
																placeholder="Link"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div class="">
													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">Description</label>
																<textarea
																	type="text"
																	name="desc_tk"
																	class="form-control"
																	placeholder="Description_tk"
																	rows="3"
																>
																</textarea>
																<textarea
																	type="text"
																	name="desc_ru"
																	class="form-control"
																	placeholder="Description_ru"
																	rows="3"
																>
																</textarea>
																<textarea
																	type="text"
																	name="desc_en"
																	class="form-control"
																	placeholder="Description_en"
																	rows="3"
																>
																</textarea>
															</div>
														</div>
													</div>

													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">HTML</label>
																<textarea
																	type="text"
																	name="html_tk"
																	class="form-control"
																	placeholder="HTML_tk"
																	rows="3"
																>
																</textarea>
																<textarea
																	type="text"
																	name="html_ru"
																	class="form-control"
																	placeholder="HTML_ru"
																	rows="3"
																>
																</textarea>
																<textarea
																	type="text"
																	name="html_en"
																	class="form-control"
																	placeholder="HTML_en"
																	rows="3"
																>
																</textarea>
															</div>
														</div>
													</div>

													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">HTML output</label>
																<div
																	class="toHtml"
																	style="
																		border: 1px solid #a0a0a0;
																		padding: 0.5rem;
																		border-radius: 1rem;
																	"
																></div>
															</div>
														</div>
													</div>
												</div>
											</div>

											{% if data_type == 'contacts' %}
											<div class="card-body">
												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Phone Number</label>
															<input
																type="text"
																name="phone_number"
																placeholder="phone_number"
																class="form-control"
															/>
															<input
																type="text"
																name="home_phone_number"
																placeholder="home_phone_number"
																class="form-control"
															/>
															<input
																type="text"
																name="work_phone_number"
																placeholder="work_phone_number"
																class="form-control"
															/>
															<input
																type="text"
																name="phone_number_1"
																placeholder="phone_number_1"
																class="form-control"
															/>
															<input
																type="text"
																name="phone_number_2"
																placeholder="phone_number_2"
																class="form-control"
															/>
															<input
																type="text"
																name="phone_number_3"
																placeholder="phone_number_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Mail</label>
															<input
																type="text"
																name="mail"
																placeholder="mail"
																class="form-control"
															/>
															<input
																type="text"
																name="mail_1"
																placeholder="mail_1"
																class="form-control"
															/>
															<input
																type="text"
																name="mail_2"
																placeholder="mail_2"
																class="form-control"
															/>
															<input
																type="text"
																name="mail_3"
																placeholder="mail_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Address</label>
															<input
																type="text"
																name="address"
																placeholder="address"
																class="form-control"
															/>
															<input
																type="text"
																name="address_1"
																placeholder="address_1"
																class="form-control"
															/>
															<input
																type="text"
																name="address_2"
																placeholder="address_2"
																class="form-control"
															/>
															<input
																type="text"
																name="address_3"
																placeholder="address_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Social</label>

															<input
																type="text"
																name="social_1_name"
																placeholder="social_1_name"
																class="form-control"
															/>
															<input
																type="text"
																name="social_1"
																placeholder="social_1"
																class="form-control"
															/>
															<input
																type="text"
																name="social_2_name"
																placeholder="social_2_name"
																class="form-control"
															/>
															<input
																type="text"
																name="social_2"
																placeholder="social_2"
																class="form-control"
															/>
															<input
																type="text"
																name="social_3_name"
																placeholder="social_3_name"
																class="form-control"
															/>
															<input
																type="text"
																name="social_3"
																placeholder="social_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										</div>

										<div class="form-group row mb-0">
											<input
												type="submit"
												value="Save"
												class="btn btn-outline-primary"
											/>
										</div>
									</div>
								</fieldset>
							</form>
							`
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
