{% extends "admin/layout.html" %} {% block styles %} {% endblock %} {% block
content %}

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<div class="row">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">{{ data.title or '' }}</h4>
							<p class="text-muted mb-0">{{ data.name or '' }}</p>
						</div>
						<div class="card-body">
							<form
								method="POST"
								action=""
								enctype="multipart/form-data"
								class="form-horizontal well"
							>
								<fieldset>
									<div class="repeater-custom-show-hide">
										<div class="d-flex">
											<div class="card-body" data-repeater-list="car">
												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Name</label>
															<input
																type="text"
																name="name_tk"
																value="{{ data.name_tk or '' }}"
																placeholder="Name_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="name_ru"
																value="{{ data.name_ru or '' }}"
																placeholder="Name_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="name_en"
																value="{{ data.name_en or '' }}"
																placeholder="Name_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Title</label>
															<input
																type="text"
																name="title_tk"
																value="{{ data.title_tk or '' }}"
																placeholder="Title_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="title_ru"
																value="{{ data.title_ru or '' }}"
																placeholder="Title_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="title_en"
																value="{{ data.title_en or '' }}"
																placeholder="Title_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Label</label>
															<input
																type="text"
																name="label_tk"
																value="{{ data.label_tk or '' }}"
																placeholder="Label_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="label_ru"
																value="{{ data.label_ru or '' }}"
																placeholder="Label_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="label_tk"
																value="{{ data.label_tk or '' }}"
																placeholder="Label_tk"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Note</label>
															<input
																type="text"
																name="note_tk"
																value="{{ data.note_tk or '' }}"
																placeholder="Note_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="note_ru"
																value="{{ data.note_ru or '' }}"
																placeholder="Note_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="note_en"
																value="{{ data.note_en or '' }}"
																placeholder="Note_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">link</label>
															<input
																type="text"
																name="link"
																value="{{ data.link or '' }}"
																placeholder="Link"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div class="">
													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">Description</label>
																<textarea
																	type="text"
																	name="desc_tk"
																	class="form-control"
																	placeholder="Description_tk"
																	rows="3"
																>
{{ data.desc_tk or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="desc_ru"
																	class="form-control"
																	placeholder="Description_ru"
																	rows="3"
																>
{{ data.desc_ru or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="desc_en"
																	class="form-control"
																	placeholder="Description_en"
																	rows="3"
																>
{{ data.desc_en or '' }}
															</textarea
																>
															</div>
														</div>
													</div>

													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">HTML</label>
																<textarea
																	type="text"
																	name="html_tk"
																	class="form-control"
																	placeholder="HTML_tk"
																	rows="3"
																>
{{ data.html_tk or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="html_ru"
																	class="form-control"
																	placeholder="HTML_ru"
																	rows="3"
																>
{{ data.html_ru or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="html_en"
																	class="form-control"
																	placeholder="HTML_en"
																	rows="3"
																>
{{ data.html_en or '' }}
															</textarea
																>
															</div>
														</div>
													</div>

													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">HTML output</label>
																<div
																	class="toHtml"
																	style="
																		border: 1px solid #a0a0a0;
																		padding: 0.5rem;
																		border-radius: 1rem;
																	"
																>
																	{{ data.html_tk or '' }}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="card-body">
												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Image config</label>
															<input
																type="text"
																name="page_id"
																value="{{ data.page_id or '' }}"
																placeholder="page_id"
																class="form-control"
															/>
															<input
																type="text"
																name="category_id"
																value="{{ data.category_id or '' }}"
																placeholder="category_id"
																class="form-control"
															/>
															<input
																type="text"
																name="collection_id"
																value="{{ data.collection_id or '' }}"
																placeholder="collection_id"
																class="form-control"
															/>
															<input
																type="text"
																name="contact_id"
																value="{{ data.contact_id or '' }}"
																placeholder="contact_id"
																class="form-control"
															/>
															<input
																type="text"
																name="file_path"
																value="{{ data.file_path or '' }}"
																placeholder="file_path"
																class="form-control"
															/>
															<input
																type="text"
																name="file_path_m"
																value="{{ data.file_path_m or '' }}"
																placeholder="file_path_m"
																class="form-control"
															/>
															<input
																type="text"
																name="file_path_s"
																value="{{ data.file_path_s or '' }}"
																placeholder="file_path_s"
																class="form-control"
															/>

															<div style="padding: 1rem">
																<input
																	name="image"
																	class="form-control"
																	type="file"
																/>
																<img
																	src="{{data.file_path}}"
																	style="max-width: 25rem"
																/>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="form-group row mb-0">
											<input
												type="submit"
												value="Save"
												class="btn btn-outline-primary"
											/>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
