{% extends "admin/layout.html" %} {% block styles %} {% endblock %} {% block
content %}

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<div class="row">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">{{ data.title or '' }}</h4>
							<p class="text-muted mb-0">{{ data.name or '' }}</p>
						</div>
						<div class="card-body">
							<form method="POST" action="" class="form-horizontal well">
								<fieldset>
									<div class="repeater-custom-show-hide">
										<div class="d-flex">
											<div class="card-body" data-repeater-list="car">
												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Name</label>
															<span>name_tk</span>
															<input
																type="text"
																name="name_tk"
																value="{{ data.name_tk or '' }}"
																placeholder="Name_tk"
																class="form-control"
															/>
															<span>name_ru</span>
															<input
																type="text"
																name="name_ru"
																value="{{ data.name_ru or '' }}"
																placeholder="Name_ru"
																class="form-control"
															/>
															<span>name_en</span>
															<input
																type="text"
																name="name_en"
																value="{{ data.name_en or '' }}"
																placeholder="Name_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Title</label>
															<input
																type="text"
																name="title_tk"
																value="{{ data.title_tk or '' }}"
																placeholder="Title_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="title_ru"
																value="{{ data.title_ru or '' }}"
																placeholder="Title_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="title_en"
																value="{{ data.title_en or '' }}"
																placeholder="Title_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Label</label>
															<input
																type="text"
																name="label_tk"
																value="{{ data.label_tk or '' }}"
																placeholder="Label_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="label_ru"
																value="{{ data.label_ru or '' }}"
																placeholder="Label_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="label_en"
																value="{{ data.label_en or '' }}"
																placeholder="Label_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Note</label>
															<input
																type="text"
																name="note_tk"
																value="{{ data.note_tk or '' }}"
																placeholder="Note_tk"
																class="form-control"
															/>
															<input
																type="text"
																name="note_ru"
																value="{{ data.note_ru or '' }}"
																placeholder="Note_ru"
																class="form-control"
															/>
															<input
																type="text"
																name="note_en"
																value="{{ data.note_en or '' }}"
																placeholder="Note_en"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">link</label>
															<input
																type="text"
																name="link"
																value="{{ data.link or '' }}"
																placeholder="Link"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div class="">
													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">Description</label>
																<textarea
																	type="text"
																	name="desc_tk"
																	class="form-control"
																	placeholder="Description_tk"
																	rows="3"
																>
{{ data.desc_tk or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="desc_ru"
																	class="form-control"
																	placeholder="Description_ru"
																	rows="3"
																>
{{ data.desc_ru or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="desc_en"
																	class="form-control"
																	placeholder="Description_en"
																	rows="3"
																>
{{ data.desc_en or '' }}
															</textarea
																>
															</div>
														</div>
													</div>

													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">HTML</label>
																<textarea
																	type="text"
																	name="html_tk"
																	class="form-control"
																	placeholder="HTML_tk"
																	rows="3"
																>
{{ data.html_tk or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="html_ru"
																	class="form-control"
																	placeholder="HTML_ru"
																	rows="3"
																>
{{ data.html_ru or '' }}
															</textarea
																>
																<textarea
																	type="text"
																	name="html_en"
																	class="form-control"
																	placeholder="HTML_en"
																	rows="3"
																>
{{ data.html_en or '' }}
															</textarea
																>
															</div>
														</div>
													</div>

													<div data-repeater-item="">
														<div class="form-group row d-flex align-items-end">
															<div class="col">
																<label class="form-label">HTML output</label>
																<div
																	class="toHtml"
																	style="
																		border: 1px solid #a0a0a0;
																		padding: 0.5rem;
																		border-radius: 1rem;
																	"
																>
																	{{ data.html_tk or '' }}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% if data_type == 'contacts' %}
											<div class="card-body">
												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Phone Number</label>
															<input
																type="text"
																name="phone_number"
																value="{{ data.phone_number or '' }}"
																placeholder="phone_number"
																class="form-control"
															/>
															<input
																type="text"
																name="home_phone_number"
																value="{{ data.home_phone_number or '' }}"
																placeholder="home_phone_number"
																class="form-control"
															/>
															<input
																type="text"
																name="work_phone_number"
																value="{{ data.work_phone_number or '' }}"
																placeholder="work_phone_number"
																class="form-control"
															/>
															<input
																type="text"
																name="phone_number_1"
																value="{{ data.phone_number_1 or '' }}"
																placeholder="phone_number_1"
																class="form-control"
															/>
															<input
																type="text"
																name="phone_number_2"
																value="{{ data.phone_number_2 or '' }}"
																placeholder="phone_number_2"
																class="form-control"
															/>
															<input
																type="text"
																name="phone_number_3"
																value="{{ data.phone_number_3 or '' }}"
																placeholder="phone_number_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Mail</label>
															<input
																type="text"
																name="mail"
																value="{{ data.mail or '' }}"
																placeholder="mail"
																class="form-control"
															/>
															<input
																type="text"
																name="mail_1"
																value="{{ data.mail_1 or '' }}"
																placeholder="mail_1"
																class="form-control"
															/>
															<input
																type="text"
																name="mail_2"
																value="{{ data.mail_2 or '' }}"
																placeholder="mail_2"
																class="form-control"
															/>
															<input
																type="text"
																name="mail_3"
																value="{{ data.mail_3 or '' }}"
																placeholder="mail_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Address</label>
															<input
																type="text"
																name="address"
																value="{{ data.address or '' }}"
																placeholder="address"
																class="form-control"
															/>
															<input
																type="text"
																name="address_1"
																value="{{ data.address_1 or '' }}"
																placeholder="address_1"
																class="form-control"
															/>
															<input
																type="text"
																name="address_2"
																value="{{ data.address_2 or '' }}"
																placeholder="address_2"
																class="form-control"
															/>
															<input
																type="text"
																name="address_3"
																value="{{ data.address_3 or '' }}"
																placeholder="address_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>

												<div data-repeater-item="">
													<div class="form-group row d-flex align-items-end">
														<div>
															<label class="form-label">Social</label>

															<input
																type="text"
																name="social_1_name"
																value="{{ data.social_1_name or '' }}"
																placeholder="social_1_name"
																class="form-control"
															/>
															<input
																type="text"
																name="social_1"
																value="{{ data.social_1 or '' }}"
																placeholder="social_1"
																class="form-control"
															/>
															<input
																type="text"
																name="social_2_name"
																value="{{ data.social_2_name or '' }}"
																placeholder="social_2_name"
																class="form-control"
															/>
															<input
																type="text"
																name="social_2"
																value="{{ data.social_2 or '' }}"
																placeholder="social_2"
																class="form-control"
															/>
															<input
																type="text"
																name="social_3_name"
																value="{{ data.social_3_name or '' }}"
																placeholder="social_3_name"
																class="form-control"
															/>
															<input
																type="text"
																name="social_3"
																value="{{ data.social_3 or '' }}"
																placeholder="social_3"
																class="form-control"
															/>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										</div>

										<div class="form-group row mb-0">
											<input
												type="submit"
												value="Save"
												class="btn btn-outline-primary"
											/>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>

				{% if data_type == 'pages' %}
				<div class="col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Categories</h4>
							<p class="text-muted mb-0">Manage categories</p>
						</div>
						<div class="card-body">
							{% for category in data.categories %}
							<div class="card card-body">
								<p><b>Title:</b>{{ category.title }}</p>
								<p><b>Name:</b>{{ category.name }}</p>
								<p><b>Label:</b>{{ category.label }}</p>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Collections</h4>
							<p class="text-muted mb-0">Setup Collections</p>
						</div>
						<div class="card-body">
							{% for collection in data.collections %}
							<div class="card card-body">
								<p><b>Title:</b>{{ collection.title }}</p>
								<p><b>Name:</b>{{ collection.name }}</p>
								<p><b>Label:</b>{{ collection.label }}</p>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Images</h4>
							<p class="text-muted mb-0">Add remove update images</p>
						</div>
						<div class="card-body">
							{% for image in data.images %}
							<div class="card card-body col-6">
								<img src="{{image.file_path}}" />
								<div>
									<p><b>Title:</b>{{ image.title }}</p>
									<p><b>Name:</b>{{ image.name }}</p>
									<p><b>Label:</b>{{ image.label }}</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
